
.error:focus,
.error:active {
  outline: none;
}

.input {
  border: none;
}

.input,
.input:focus {
  caret-color: #ffe14b;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  white-space: nowrap;
  width: 190px;
}

.input.error {
  outline: 4px solid red;
}

.errorMessage {
  color: red;
  font-size: 16px;
}
