.header {
  margin: 0 auto;
    max-width: 1300px;
}

.nav {
  border-bottom: 1px solid black;
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.nav-list__item {
  color: black;
  margin-left: 20px;
}

.nav-list__item a {
    color: black;
    text-decoration: none;
  }
