.points-container {
}

.progress-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  position: relative;
  width: 350px;
  z-index: 1;
}

.progress-container::before {
  background-color: #e0e0e0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: f2ee0f;
  height: 4px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease;
  width: 0%;
  z-index: -1;
}

.circle {
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  height: 10px;
  justify-content: center;
  transition: 0.4s ease;
  width: 10px;
  z-index: 1;
}

.circle.active {
  background-color: #f2ee0f;
  border-color: #f2ee0f;
  color: #000;
  font-size: 5.5px; /* 10px ÷ 2.5 = 4px to maintain same visual size */
  transform: scale(2.7);
}

.circle.completed {
  background-color: #f2ee0f;
  border-color: #f2ee0f;
  font-size: 0;
}
