.points-container {
}

.progress-wrapper {
  align-items: center;
  display: flex;
  margin-top: 25px;
}

.encouragement-text {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  min-width: 50px;
}

.progress-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  max-width: 95%;
  min-width: 89%;
  z-index: 1;
}

.progress-container::before {
  background-color: #e0e0e0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: f2ee0f;
  height: 4px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease;
  width: 0%;
  z-index: -1;
}

.circle {
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  height: 10px;
  justify-content: center;
  transition: 0.4s ease;
  width: 10px;
  z-index: 1;
}

.circle.active {
  background-color: #ffe14b;
  border-color: #ffe14b;
  color: #000;
  font-size: 5.5px; /* 10px ÷ 2.5 = 4px to maintain same visual size */
  transform: scale(2.7);
}

.circle.completed {
  background-color: #ffe14b;
  border-color: #ffe14b;
  font-size: 0;
}

.wordlist-words {
  border: 1px solid #c3bdbd;
  height: 500px;
  padding-top: 20px;
  width: 400px;
  list-style: none;
}

.wordlist-words li {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  width: 100px;
}

.wordlist-title {
}
