.game {
  display: flex;
}

.game-section {
  display: flex;
  gap: 150px;
  height: 65vh;
  justify-content: space-around;
  margin: 0 auto;
}

/* Mobile styles */
@media (max-width: 768px) {
  .game {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
  }
  .game-section {
    flex-direction: column-reverse;
    gap: 0;
    width: 100%;
  }
}
